<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a *ngIf="authService.loggedIn()" class="p-2 text-dark" routerLink="/profile">Profile</a>
    <a *ngIf="authService.loggedIn()" class="p-2 text-dark" routerLink="#">Blog</a>
    <a *ngIf="authService.loggedIn()" class="p-2 text-dark" routerLink="/dashboard">Dashboard</a>
  </nav>
  <a *ngIf="!authService.loggedIn()" class="btn btn-primary" routerLink="/register">Register</a>  
  <a *ngIf="!authService.loggedIn()" class="btn btn-outline-primary" routerLink="/login">Sign in</a>
  <a *ngIf="authService.loggedIn()" class="btn btn-outline-primary" href="/" (click)="onLogoutClick()">Sign out</a>
</div>